.card{
    margin-left: 35%;
    width: 500px;
}

.contadorClass{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.contador{
    width: 50px;
    text-align: center;
}