.card{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
}

.contadorClass{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.contador{
    width: 50px;
    text-align: center;
}

.bntAgregaFinaliza{
    text-align: center;
}

.infoItem{
    padding: 5px;
}

.cardContent{
    background-color: beige;
}

#modificarInfo{
    color: tomato;
}