.divItemListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.loading{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}