.navbar{
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

#tituloNav{
    color: white;
    font-weight: 800;
    font-size: 70px;
}

.menuNav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 35%;
}