.navbar{
    background-color: deepskyblue;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    
}

#tituloNav{
    color: gold;
    font-weight: 800;
    margin-left: 5%;
}

.menuNav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin-right: 5%;
}

button{
    background-color: gold;
    color: black;
}