.main{
    display: flex;
    flex-direction: column;
}

.divItemListContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
}

.divItemDetailContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
}